<div class="banner">
  <div class="banner-content">
    <h1><span id="banner-typed-text"></span></h1>
  </div>
</div>

<div class= "titre">
<h1>Cocktails</h1>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6">
        <%=link_to(cocktail_path(cocktail.id)) do %>
          <div data-aos="fade-up"
     data-aos-duration="3000" class="card-drink" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://images.unsplash.com/photo-1529729452430-d35a0213b820?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80');">
            <div class="card-description-drink">
              <h2><%=cocktail.name %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
