
.container-card {
display: flex;
justify-content: space-around;
}

.titre {
  justify-content: center;
}

.card-drink {
  height: 450px;
  width: 300px;
  margin: auto auto;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 8px 9px 34px -3px rgba(148,148,148,1);
  margin-bottom: 60px;
}

.card-drink:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
}


.card-description-drink h2 {
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}


